<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线课堂</title>
    <link rel="stylesheet" href="../../dist/css/course/course_index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1898405_fzbxx2diiu8.css">
    <script src="../../dist/js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo_box">
                <a href="../../templates/news/index.html">SdBU034</a>
            </div>

            <ul class="nav">
                <li><a href="/">创业资讯</a></li>
                <li class="active"><a href="../../templates/course/course_index.html">创业课堂</a></li>
                <li><a href="#">付费资讯</a></li>
                <li><a href="#">搜索</a></li>
            </ul>

            <div class="auth-box">
                <i class="icon-person_crop_circle iconfont"></i>
                <a href="#">登陆/注册</a>
            </div>

        </div>
    </header>

    <div class="main">
        <div class="course-nav">
            <div class="nav-container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav-list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li><a href="#">投资人说</a></li>
                    <li><a href="#">明星案例</a></li>
                    <li><a href="#">创业知识</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <ul class="course-list">
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海/HiCTO创始人兼CEO</p>
                            <p class="price-tag">
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1563171954_878.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">面对危机公关，多快算快？</p>
                            <p class="author">高超 / 资深品牌公关</p>
                            <p class="price-tag">
                                <span class="pay">$0.99</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1526455098_289.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">教你抓住投资人眼球的计划书。</p>
                            <p class="author">李喆 / 远瞻资本创始合伙人、总裁 、上海科委特约专家</p>
                            <p class="price-tag">
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1513066370_185.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">Innovation in intelligence systems</p>
                            <p class="author">Yosi Lahad /  Co-Founder of NextWave Roboti</p>
                            <p class="price-tag">
                                <span class="pay">￥19.90</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1563169011_412.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">创业公司如何找钱？</p>
                            <p class="author">王钊 / Hi-Finance创始人兼CEO</p>
                            <p class="price-tag">
                                <span class="pay">￥59.00</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <div class="top-group">
            <div class="inner-group">
                <div class="logo-box"></div>
                <div class="detail-group">
                    <div class="line-one">
                        <ul class="links">
                            <li><a href="#">关于SdBU034</a></li>
                            <li><a href="#">创业课堂</a></li>
                            <li><a href="#">寻求报道</a></li>
                            <li><a href="#">创业礼包</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们：</span>
                            <ul class="social">
                                <li class="wechat">
                                    <div class="wx-qrcode"></div>
                                    <a href="#" class="text">SdBU034</a>
                                </li>
                                <li class="weibo"><a href="#" class="text">SdBU034</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line-two">
                        <p class="address">地址：山东省济南市市中区二环东路11896号</p>
                        <p class="contact">联系方式：400-810-1090（工作日10点-18点）</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-group">
            ©2020 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574
        </div>
    </footer>
</body>
</html>