{% extends 'base/front_base.html' %}

{% block title %}
    在线课堂
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/course/course_index.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="course-nav">
            <div class="nav-container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav-list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li><a href="#">投资人说</a></li>
                    <li><a href="#">明星案例</a></li>
                    <li><a href="#">创业知识</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <ul class="course-list">
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海/HiCTO创始人兼CEO</p>
                            <p class="price-tag">
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1563171954_878.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">面对危机公关，多快算快？</p>
                            <p class="author">高超 / 资深品牌公关</p>
                            <p class="price-tag">
                                <span class="pay">$0.99</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1526455098_289.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">教你抓住投资人眼球的计划书。</p>
                            <p class="author">李喆 / 远瞻资本创始合伙人、总裁 、上海科委特约专家</p>
                            <p class="price-tag">
                                <span class="free">免费</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1513066370_185.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">Innovation in intelligence systems</p>
                            <p class="author">Yosi Lahad /  Co-Founder of NextWave Roboti</p>
                            <p class="price-tag">
                                <span class="pay">￥19.90</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1563169011_412.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">创业公司如何找钱？</p>
                            <p class="author">王钊 / Hi-Finance创始人兼CEO</p>
                            <p class="price-tag">
                                <span class="pay">￥59.00</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1563169011_412.png-course.list.small" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">创业公司如何找钱？</p>
                            <p class="author">王钊 / Hi-Finance创始人兼CEO</p>
                            <p class="price-tag">
                                <span class="pay">￥59.00</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
{% endblock %}