{% extends 'cms/base.html' %}

{% block title %}
    发布新闻
{% endblock %}

{% block head %}
    <script src="{% static 'js/write_news.min.js' %}"></script>
{% endblock %}

{% block content-header %}
    <h1 style="margin: 10px 0 10px 20px">发布新闻</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
        <!-- general form elements -->
            <div class="card card-primary">
                <!-- form start -->
                <form role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="InputTitle">标题</label>
                            <input type="text" class="form-control" id="InputTitle" placeholder="输入标题" name="title">
                        </div>

                        <div class="form-group">
                            <label for="category-form">分类</label>
                            <select class="form-control" id="category-form">
                                {% for category in categories %}
                                    <option value="{{ category.pk }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="InputDesc">描述</label>
                            <input type="text" class="form-control" id="InputDesc" placeholder="输入描述" name="desc">
                        </div>

                        <div class="form-group">
                            <label for="InputImage">缩略图</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="InputImage" placeholder="输入缩略图url" name="thumbnail">
                                <span class="input-group-btn">
                                    <label for="thumbnail-btn" class="btn btn-default btn-file">上传图片<input hidden class="btn btn-default" type="file" id="thumbnail-btn"></label>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="InputDesc">内容</label>
                            <textarea class="textarea" name="content" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid rgb(221, 221, 221); padding: 10px; display: none;"></textarea>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">发布</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}