<div class="sidebar-wrapper">
    <div class="title-group">
        <span class="title">在线课堂</span>
        <a href="#" class="more">更多</a>
    </div>
    <div class="advertise-group">
        <a href="#"><img src="https://10.url.cn/qqcourse_logo_ng/ajNVdqHZLLDbInC2j6DKPA42nzzIhCeWOKoAg01JmOlEeQ0ticrAoTLqqJf7a6MwlJxZAy9iaRPtw/356" alt=""></a>
    </div>
    <div class="platform">
        <div class="title-group">
            <span class="title">关注我</span>
        </div>
        <div class="focus">
            <ul class="left-group">
                <li class="zhihu"><a href="#" target="_blank">SdBU034</a></li>
                <li class="weibo"><a href="#" target="_blank">SdBU034</a></li>
                <li class="toutiao"><a href="#" target="_blank">SdBU034</a></li>
            </ul>
            <div class="right-group">
                <p class="desc">扫码关注我们</p>
            </div>
        </div>
    </div>
    <div class="hot-news-group">
        <div class="title-group">
            <span class="title">热门推荐</span>
            <ul class="hot-list-group">
                <li>
                    <div class="left-group">
                        <p class="title"><a href="#">人物|4年得分翻6倍!新晋全明星还能变更强么...</a></p>
                        <p class="more">
                            <span class="category">干货分享</span>
                            <span class="pub-time">2020年06月20日 14:34</span>
                        </p>
                    </div>
                    <div class="right-group">
                        <a href="#">
                            <img src="https://n.sinaimg.cn/sports/crawl/116/w550h366/20200620/ef50-ivffpcs8814712.jpg" alt="">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>