@import "init";
@import "constants";

body {
    background: #f2f2f2;
}

.header {
    width: 100%;
    height: $navHeight;
    background: #3a3a3a;
    //固定导航栏
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    //透明度
    //opacity: 0.5;
    z-index: 100;

    .container {
        width: $pageWidth;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;

        .logo_box {
            width: 60px;
            height: 60px;
            background: url("../../dist/images/logo.jpeg") no-repeat;
            background-size: cover;
            border-radius: 30px;
            margin-top: 3px;
            //使漂浮
            float: left;

            a {
                //display: block;
                width: 100%;
                line-height: $navHeight;
                height: $navHeight;
                margin-left: 70px;
                font-size: 130%;
                color: lightgoldenrodyellow;
            }
        }

        .nav {
            margin-left: 250px;
            float: left;

            li {
                float: left;
                margin-right: 100px;
                //使文字居中
                line-height: $navHeight;
                height: $navHeight;
                //边框出现在box里面还是外面
                box-sizing: border-box;

                a {
                    color: lightsalmon;
                    font-size: 130%;
                }

                //&代表父元素
                &.active {
                    border-bottom: 5px solid blueviolet;
                }
            }
        }

        .auth-box {
            float: right;
            line-height: $navHeight;
            height: $navHeight;

            .iconfont {
                color: white;
                font-size: 20px;
            }

            a {
                color: white;
            }
        }
    }
}

.main {
    width: 100%;
    margin-top: $navHeight + 20px;

    .wrapper {
        width: $pageWidth;
        margin: 0 auto;
        //子元素浮动以后获取不到藜麦你的高度，通过overflow：hidden来实现高度
        overflow: hidden;

        .news-wrapper {
            float: left;
            width: $newsWidth;

            .banner-group {
                $bannerHeight: 300px;
                width: 100%;
                height: $bannerHeight;
                background: lightgreen;
                position: relative;
                overflow: hidden;
                z-index: 0;

                .banner-ul {
                    overflow: hidden;
                    width: $newsWidth*4;
                    //绝对定位
                    position: absolute;
                    left: 0;

                    li {
                        float: left;
                        width: $newsWidth;
                        height: $bannerHeight;

                        a img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .arrow {
                    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
                    font-size: 70px;
                    color: #ffffff;
                    position: absolute;
                    top: 50%;
                    margin-top: -43px;
                    cursor: pointer;
                    display: none;
                    opacity: 0.5;
                }

                .left-arrow {
                    left: 20px;
                }

                .right-arrow {
                    right: 20px;
                }

                .page-control-group {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 20px;

                    .page-control {
                        margin: 0 auto;
                        overflow: hidden;

                        li {
                            margin: 0 15px;
                            width: 12px;
                            height: 12px;
                            border: 2px solid white;
                            border-radius: 6px;
                            float: left;
                            box-sizing: border-box;
                            cursor: pointer;
                            opacity: 0.7;

                            &.active {
                                background: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main {
    .wrapper {
        .news-wrapper {
            .list-outer-group {
                background: white;
                margin-top: 15px;

                .list-tab {
                    width: 100%;
                    height: 66px;
                    border: 2px solid #eeeeee;
                    border-left: none;
                    border-right: none;

                    li {
                        float: left;
                        padding: 0 20px;
                        margin-top: 23px;

                        a {
                            color: #878787;
                        }

                        &:first-of-type {
                            border-left: 5px solid blueviolet;
                        }

                        &.active {
                            a {
                                color: #212121;
                            }
                        }
                    }
                }

                .list-inner-group {
                    li {
                        padding: 20px;
                        overflow: hidden;
                        border-bottom: 2px solid #eeeeee;

                        .thumbnail-group {
                            float: left;
                            height: 180px;
                            width: 250px;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }

                        .news-group {
                            float: right;
                            width: 480px;
                            height: 180px;
                            position: relative;

                            .title a {
                                color: #212121;
                                font-size: 22px;
                            }

                            .title a:hover {
                                color: $themeColor;
                            }

                            .desc {
                                color: #878787;
                                font-size: 14px;
                                margin-top: 10px;
                            }

                            .more {
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                font-size: 14px;
                                color: #878787;

                                .category {
                                    color: $themeColor;
                                }

                                .pub-time {
                                    float: right;
                                    margin-left: 30px;
                                }

                                .author {
                                    float: right;
                                }
                            }
                        }
                    }
                }

                .load-more-group {
                    padding: 20px 0;
                    text-align: center;

                    .load-more {
                        margin: 0 auto;
                        width: 400px;
                        height: 40px;
                        background: #d2dcea;
                        color: #6d85ac;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.main {
    .wrapper {
        .sidebar-wrapper {
            float: right;
            width: $sidebarWidth;
            background: white;
            overflow: hidden;

            .title-group {
                margin: 20px;
                overflow: hidden;

                .title {
                    float: left;
                    font-size: 18px;
                }
                
                .more {
                    float: right;
                    color: $themeColor;
                    font-weight: bold;
                }
            }

            .advertise-group {
                margin: 20px;

                a img {
                    width: 100%;
                }
            }

            .platform {
                overflow: hidden;

                .title-group {

                    .title {
                        font-size: 18px;
                        color: $themeColor;
                        float: left;
                    }
                }

                .focus {
                    padding: 0 20px;
                    overflow: hidden;

                    .left-group {
                        float: left;
                        width: 180px;
                        background: url("https://www.xfz.cn/static/build/images/side-icon.png") no-repeat;
                        background-size: contain;

                        li {
                            margin-left: 80px;
                            width: 120px;
                            height: 60px;
                            line-height: 60px;
                            font-family: "Adobe Caslon Pro Bold";
                            font-size: large;

                            a {
                                color: #212121;
                            }

                            &.weibo {
                                padding: 20px 0;
                            }
                        }
                    }

                    .right-group {
                        margin-top: 20px;
                        width: 140px;
                        height: 140px;
                        float: right;
                        background: url("http://mp.weixin.qq.com/rr?timestamp=1592902717&src=3&ver=1&signature=Dxg7Nx1uQxtlwJDMmyRRejZDX-z3poQqTJ1tWit43aEP2d6QQbdAHl5lJx8tZS2cxC16Jc5oS4Q3OJg7rDaVbSIcuKzmlpdNMPDokBXmdI8=") no-repeat;
                        background-size: contain;
                        position: relative;

                        .desc {
                            margin-left: 30px;
                            margin-top: 160px;
                            font-size: smaller;
                            color: slategrey;
                        }
                    }
                }
            }

            .hot-news-group {
                overflow: hidden;

                .title {
                    float: left;
                    font-size: 16px;
                    color: $themeColor;
                }

                .hot-list-group {
                    width: 100%;
                    overflow: hidden;

                    li {
                        .left-group {
                            width: 200px;
                            height: 85px;
                            float: left;
                            position: relative;

                            .title {
                                font-size: 10px;
                                margin-top: 10px;
                            }

                            .more {
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: 0;

                                .category {
                                    float: left;
                                    font-size: 12px;
                                    color: $themeColor;
                                }

                                .pub-time {
                                    float: right;
                                    font-size: 12px;
                                    color: slategray;
                                }
                            }
                        }

                        .right-group {
                            width: 120px;
                            float: right;

                            a img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}