<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1898405_fzbxx2diiu8.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo_box">
                <a href="/"></a>
            </div>

            <ul class="nav">
                <li class="active"><a href="/">创业资讯</a></li>
                <li><a href="#">创业课堂</a></li>
                <li><a href="#">付费资讯</a></li>
                <li><a href="#">搜索</a></li>
            </ul>

            <div class="auth-box">
                <i class="icon-person_crop_circle iconfont"></i>
                <a href="#">登陆/注册</a>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper"></div>
            <div class="sidebar-wrapper"></div>
        </div>
    </div>
</body>
</html>