<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SdBU首页</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1898405_fzbxx2diiu8.css">
    <script src="../../dist/js/jquery-3.4.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo_box">
                <a href="/">SdBU034</a>
            </div>

            <ul class="nav">
                <li class="active"><a href="/">创业资讯</a></li>
                <li><a href="#">创业课堂</a></li>
                <li><a href="#">付费资讯</a></li>
                <li><a href="#">搜索</a></li>
            </ul>

            <div class="auth-box">
                <i class="icon-person_crop_circle iconfont"></i>
                <a href="#">登陆/注册</a>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="../../dist/images/mario.jpg" alt="mario"></a></li>
                        <li><a href="#"><img src="../../dist/images/magic_culb.jpg" alt="mario"></a></li>
                        <li><a href="#"><img src="../../dist/images/boy-and-girl.jpg" alt="mario"></a></li>
                        <li><a href="#"><img src="../../dist/images/green-red-plastic.jpg" alt="mario"></a></li>
                    </ul>
                    <span class="arrow left-arrow"><</span>
                    <span class="arrow right-arrow">></span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li class="active"><a href="#">最新资讯</a></li>
                        <li><a href="#">热点新闻</a></li>
                        <li><a href="#">深度报道</a></li>
                        <li><a href="#">干货分享</a></li>
                        <li><a href="#">投资人说</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        <li>
                            <div  class="thumbnail-group">
                                <a href="#"><img src="https://inews.gtimg.com/newsapp_ls/0/11969859125_640330/0" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">专题iOS要有大变化？还有这些新硬件？凌晨的苹果发布会有这些重要看点</a></p>
                                <p class="desc">iOS 14 的更新或将保留 iOS 13 的绝大多数设计语言，用户界面上可能不会出现太明显的变化，主要集中于功能性的升级。</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">SdBU034</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div  class="thumbnail-group">
                                <a href="#"><img src="https://inews.gtimg.com/newsapp_ls/0/11969949293_294195/0" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">进口货物检出新冠病毒？顺丰航空回应：网传消息不实，请勿轻信传播</a></p>
                                <p class="desc">声明称，自新冠肺炎疫情发生以来，顺丰航空始终将运行安全、疫情防控放在首位，在航班运行保障过程中严格遵循国家及政府制定的防疫标准。</p>
                                <p class="more">
                                    <span class="category">最新资讯</span>
                                    <span class="pub-time">8小时前</span>
                                    <span class="author">顺丰航空</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div  class="thumbnail-group">
                                <a href="#"><img src="https://n.sinaimg.cn/sports/crawl/116/w550h366/20200620/ef50-ivffpcs8814712.jpg" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">人物|4年得分翻6倍!新晋全明星还能变更强么?</a></p>
                                <p class="desc">在赛季进行了64场比赛之后，猛龙已几乎锁定东部第二的位置了。进攻效率排第12，防守效率排第2，每百回合6.4分的净胜分，放眼联盟30支球队，也仅次于雄鹿与湖人。</p>
                                <p class="more">
                                    <span class="category">干货分享</span>
                                    <span class="pub-time">2020年06月20日 14:34</span>
                                    <span class="author">代号9527</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-wrapper"></div>
        </div>
    </div>
</body>
</html>