
{% extends 'base/front_base.html' %}

{% block title %}
    新闻详情
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="news-wrapper">
                    <h1 class="ti">专题|iOS要有大变化？还有这些新硬件？凌晨的苹果发布会有这些重要看点</h1>
                    <div class="news-info">
                        <div class="info-group">
                            <span class="author">代号9527</span>
                            <span class="pub-time">06月30日</span>
                            <span class="category">热点事件</span>
                            <div class="share-group">
                                <span>分享至：</span>
                                <a class="weixin"></a>
                                <a href="#" class="weibo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="article">
                        <p class="">原标题：iOS 要有大变化？还有这些新硬件？凌晨的苹果发布会有这 10+ 个重要看点    来源：36氪</p>
                        <p cms-style="font-L" class="">编者按：本文来自微信公众号“少数派”（ID:sspaime），作者：WATERS，36氪经授权发布。</p>
                        <p cms-style="font-L" class="">虽然受到新冠病毒的影响，Apple 宣布 WWDC 2020 将采用全新的线上模式进行，但面向大众进行视频直播的发布会仍在本周二（6.23）凌晨 01:00 如期进行。本次 WWDC 可能会公布一些硬件设计的更新，比如全新设计的 iMac、基于自主研发的 ARM 处理器 Mac 系列等，但更为重要的是在软件方面——iOS、iPadOS、macOS、watchOS、tvOS——的升级，进一步优化的用户交互设计，以及各个平台联动优化，都将在发布会中一一展现。</p>
                        <p cms-style="font-L" class="">在这篇文章中，少数派将结合近期国内外的最新情报，为各位提供一篇完整的 WWDC 2020 前瞻报道。</p>
                        <p cms-style="font-L" class="">今晚（6.22）9 点，少数派会在 bilibili 进行视频直播 ，讨论 WWDC 话题的同时，也将带大家参观少数派的办公环境，千万不要错过喔~</p>
                        <p cms-style="strong-Bold font-L" class="">iOS 14</p>
                        <p cms-style="font-L" class="">iOS 14 的更新或将保留 iOS 13 的绝大多数设计语言，用户界面上可能不会出现太明显的变化，主要集中于功能性的升级。据 Twitter 爆料人 Jon Prosser 透露，新一代 iOS 14 系统命名将回归「iPhone OS」。</p>
                        <p cms-style="strong-Bold font-L" class="">设备兼容性</p>
                        <p cms-style="font-L" class="">此前，外媒 The Verifier 透露信息，本次 iOS 14 将支持所有现在 iOS 13 兼容的所有 iPhone 以及 iPod Touch 设备。这也意味着，15 年发布的 iPhone 6s 以及 iPhone SE 均将支持 iOS 14 的升级，但也许是这两款元老设备支持的最后一个系统版本。</p>
                        <p align="center" class=""><img alt="iOS 要有大变化？还有这些新硬件？凌晨的苹果发布会有这 10+ 个重要看点" src="http://www.jinanshengke.com/uploads/allimg/200625/1631095F8_0.png" img-size="1025,578"></p>
                        <p cms-style="strong-Bold font-L" class="">主屏改进</p>
                        <p cms-style="font-L" class="">根据泄漏的代码分析，iOS 14 可能会增加一个新的主屏页面 List View，用于提高用户操作效率。该页面将包含所有 App 的图标，并根据用户的日常使用提供智能推荐。除此之外，另一段名为「Avocado」代码显示，Apple 正在验证桌面小部件的特性，小部件和 App 图标一样，支持拖拽移动。</p>
                        <p cms-style="font-L" class="">在 iOS 14 中，墙纸的设定页面Apple 将会进行持续优化，不再单独采用原有的动态墙纸、静态墙纸、实况进行分类，而是采用壁纸元素进行归类。例如，条纹、星球、鲜花等，方便用户快速定位至自己喜欢的墙纸。Apple 也有望提供墙纸相关的 API，允许第三方应用将壁纸整合至设置中。</p>
                        <p align="center" class=""><img alt="iOS 要有大变化？还有这些新硬件？凌晨的苹果发布会有这 10+ 个重要看点" src="http://www.jinanshengke.com/uploads/allimg/200625/16311R162_0.png" img-size="1080,1074"></p><span>图片来自 @MacRumors</span><p class=""></p>
                        <p cms-style="strong-Bold font-L" class="">iCloud 钥匙串</p><p cms-style="font-L" class="">iCloud 钥匙串作为最「融合于」iOS 的密码管理功能有望得到加强，除了更智能的密码提示外，二步验证功能也将作为基础功能加入其中。</p>
                        <p class=""></p><p align="center" class=""><img alt="iOS 要有大变化？还有这些新硬件？凌晨的苹果发布会有这 10+ 个重要看点" src="http://www.jinanshengke.com/uploads/allimg/200625/1631205422_0.png" img-size="1080,715"></p><p class=""></p>
                        <p cms-style="strong-Bold font-L" class="">Safari</p><p cms-style="font-L" class="">Safari 作为苹果平台的主流浏览器，也将迎来一些功能性升级，用户可以设置网页端的自动翻译，也可以为每个网站单独进行选择。原始文本与翻译结果之间的切换，无需二次加载网页。</p>
                        <p align="center" class=""><img alt="iOS 要有大变化？还有这些新硬件？凌晨的苹果发布会有这 10+ 个重要看点" src="http://www.jinanshengke.com/uploads/allimg/200625/1631261224_0.png" img-size="603,1208"></p><p class=""></p>
                        <p cms-style="strong-Bold font-L" class="">iMessage</p>
                        <p cms-style="font-L" class="">通讯应用 iMessage 在 iOS 14 中，将进一步完善。新版 iMessage 带来一些基础项目功能，例如标注未读、撤回、二次编辑、用户提及等等。</p>
                        <p align="center" class=""><img alt="iOS 要有大变化？还有这些新硬件？凌晨的苹果发布会有这 10+ 个重要看点" src="http://www.jinanshengke.com/uploads/allimg/200625/163135F45_0.png" img-size="1080,203"></p><span>图片来自 @MacRumors</span><p class=""></p>
                        <p cms-style="strong-Bold font-L" class="">AR 应用</p><p cms-style="font-L" class="">前 TechCrunch 记者 Josh Constine 研究 iOS 14 代码片段发现，Apple 正在开发的一款名为「Gobi」的 AR App。此前 Apple 曾将自己的 Apple Store 以及 Starbuck 与 Gobi 相互集成，用户到达固定地点后，可以通过 iPhone AR 看到全场商品信息，也可以加入信息价格对比。</p>
                        <p align="center" class=""><img alt="iOS 要有大变化？还有这些新硬件？凌晨的苹果发布会有这 10+ 个重要看点" src="http://www.jinanshengke.com/uploads/allimg/200625/16313CP4_0.jpg" img-size="840,420"></p><span>图片来自 @Josh Constine</span>
                    </div>
                </div>
                <div class="comment-wrapper">
                    <h3 class="title">文章评论（0）</h3>
                    <textarea name="comment" class="comment-textarea" placeholder="立即登录，参与评论~" readonly></textarea>
                    <div class="submit-group">
                        <button class="submit">立即评论</button>
                    </div>
                    <ul class="comment-list">
                            <li>
                                <div class="comment-info">
                                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/c115a86b44940f29216d19a9aa5be33a#vipAccount-img" class="avatar">
                                    <span class="author">Memory寶镖</span>
                                    <span class="pub-time">4小时前</span>
                                </div>
                                <div class="comment-content">
                                    <p>这是第一条评论！沙发！！</p>
                                </div>
                            </li>
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}