<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>付费资讯</title>
    <link rel="stylesheet" href="../../dist/css/pay_news/pay_news.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1898405_fzbxx2diiu8.css">
    <script src="../../dist/js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo_box">
                <a href="/">SdBU034</a>
            </div>

            <ul class="nav">
                <li><a href="../../templates/news/index.html">创业资讯</a></li>
                <li><a href="../../templates/course/course_index.html">创业课堂</a></li>
                <li class="active"><a href="../templates/pay_news.html">付费资讯</a></li>
                <li><a href="#">搜索</a></li>
            </ul>

            <div class="auth-box">
                <i class="icon-person_crop_circle iconfont"></i>
                <a href="#">登陆/注册</a>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="top-image">
                    <img src="https://www.xfz.cn/static/build/images/web-shopxfz-banner.jpg" alt="" class="top-image">
                </div>
                <ul class="news-list">
                    <li class="news-item">
                        <div class="thumbnail">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                        </div>
                        <div class="news-info">
                            <p class="title">如何写好一份商业计划书</p>
                            <p class="desc">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="price">￥8.80</p>
                        </div>
                    </li>
                    <li class="news-item">
                        <div class="thumbnail">
                            <img src="https://www.xfz.cn/static/build/images/web-bg-pc.png" alt="">
                        </div>
                        <div class="news-info">
                            <p class="title">大数据、AI与企业服务</p>
                            <p class="desc">大数据、AI与企业服务市场的交融将带来什么新的机会？</p>
                            <p class="price">￥9.90</p>
                        </div>
                    </li>
                    <li class="news-item">
                        <div class="thumbnail">
                            <img src="https://www.xfz.cn/static/build/images/web-bg-pc.png" alt="">
                        </div>
                        <div class="news-info">
                            <p class="title">汽车市场研究</p>
                            <p class="desc">汽车渠道：新车渠道看好“车和家”；二手车渠道关注效率、系统性盈利能力</p>
                            <p class="price">￥9.90</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="advertise-group">
                    <a href="#"><img src="https://10.url.cn/qqcourse_logo_ng/ajNVdqHZLLDbInC2j6DKPA42nzzIhCeWOKoAg01JmOlEeQ0ticrAoTLqqJf7a6MwlJxZAy9iaRPtw/356" alt=""></a>
                </div>
                <div class="platform">
                    <div class="title-group">
                        <span class="title">关注我</span>
                    </div>
                    <div class="focus">
                        <ul class="left-group">
                            <li class="zhihu"><a href="#" target="_blank">SdBU034</a></li>
                            <li class="weibo"><a href="#" target="_blank">SdBU034</a></li>
                            <li class="toutiao"><a href="#" target="_blank">SdBU034</a></li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫码关注我们</p>
                        </div>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                        <ul class="hot-list-group">
                            <li>
                                <div class="left-group">
                                    <p class="title"><a href="#">人物|4年得分翻6倍!新晋全明星还能变更强么...</a></p>
                                    <p class="more">
                                        <span class="category">干货分享</span>
                                        <span class="pub-time">2020年06月20日 14:34</span>
                                    </p>
                                </div>
                                <div class="right-group">
                                    <a href="#">
                                        <img src="https://n.sinaimg.cn/sports/crawl/116/w550h366/20200620/ef50-ivffpcs8814712.jpg" alt="">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="top-group">
            <div class="inner-group">
                <div class="logo-box"></div>
                <div class="detail-group">
                    <div class="line-one">
                        <ul class="links">
                            <li><a href="#">关于SdBU034</a></li>
                            <li><a href="#">创业课堂</a></li>
                            <li><a href="#">寻求报道</a></li>
                            <li><a href="#">创业礼包</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们：</span>
                            <ul class="social">
                                <li class="wechat">
                                    <div class="wx-qrcode"></div>
                                    <a href="#" class="text">SdBU034</a>
                                </li>
                                <li class="weibo"><a href="#" class="text">SdBU034</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line-two">
                        <p class="address">地址：山东省济南市市中区二环东路11896号</p>
                        <p class="contact">联系方式：400-810-1090（工作日10点-18点）</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-group">
            ©2020 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574
        </div>
    </footer>
</body>
</html>